{% extends 'base.html' %}

{% block header %}Editar Sistema{% endblock %}

{% block content %}
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
        <form action="{{ url_for('edit_sistema', id=sistema.id) }}" method="post"
            class="space-y-8 divide-y divide-gray-200">
            <div class="space-y-8 divide-y divide-gray-200">
                <div>
                    <div class="mt-6 space-y-6">
                        <div class="sm:col-span-6">
                            <label for="nome" class="block text-sm font-medium text-gray-700">
                                Nome
                            </label>
                            <div class="mt-1">
                                <input type="text" name="nome" id="nome" value="{{ sistema.nome }}" required
                                    class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full text-sm h-8 border-gray-300 rounded-md pl-2">
                            </div>
                        </div>

                        <div class="sm:col-span-6">
                            <label for="descricao" class="block text-sm font-medium text-gray-700">
                                Descrição
                            </label>
                            <div class="mt-1">
                                <textarea id="descricao" name="descricao" rows="8"
                                    class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full text-sm border border-gray-300 rounded-md pl-2 pt-2">{{ sistema.descricao }}</textarea>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-2">
                            <div class="sm:col-span-2">
                                <label for="pasta" class="block text-sm font-medium text-gray-700">
                                    Pasta
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="pasta" id="pasta" value="{{ sistema.pasta }}" required
                                        class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full text-sm h-8 border-gray-300 rounded-md pl-2">
                                </div>
                            </div>

                            <div class="sm:col-span-1">
                                <label for="node" class="block text-sm font-medium text-gray-700">
                                    Node
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="node" id="node" value="{{ sistema.node }}" required
                                        class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full sm:text-sm h-8 border-gray-300 rounded-md pl-2">
                                </div>
                            </div>

                            <div class="sm:col-span-1">
                                <label for="python" class="block text-sm font-medium text-gray-700">
                                    Python
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="python" id="python" value="{{ sistema.python }}" required
                                        class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full sm:text-sm h-8 border-gray-300 rounded-md pl-2">
                                </div>
                            </div>

                            <div class="sm:col-span-1">
                                <label for="endereco_web" class="block text-sm font-medium text-gray-700">
                                    Endereço Web
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="endereco_web" id="endereco_web"
                                        value="{{ sistema.endereco_web }}"
                                        class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full sm:text-sm h-8 border-gray-300 rounded-md pl-2">
                                </div>
                            </div>

                            <div class="sm:col-span-1">
                                <label for="porta_web" class="block text-sm font-medium text-gray-700">
                                    Porta Web
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="porta_web" id="porta_web" value="{{ sistema.porta_web }}"
                                        class="shadow-sm focus:ring-jf-blue focus:border-jf-blue block w-full sm:text-sm h-8 border-gray-300 rounded-md pl-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-5">
                <div class="flex justify-end">
                    <button type="submit"
                        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-jf-blue hover:bg-jf-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-jf-blue">
                        Atualizar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}