{% extends "base.html" %}

{% block header %}<h1 class="text-xl font-bold text-center">Cadastramento de Sistemas</h1>{% endblock %}

{% block content %}
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="{{ url_for('static', filename='arte03.png') }}"
                alt="Logo Justiça Federal">
            <h2 class="mt-6 text-center text-xl font-extrabold text-gray-900">
                Acesse sua conta
            </h2>
        </div>
        <form class="mt-8 space-y-6" action="{{ url_for('login') }}" method="POST">
            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="username" class="sr-only">Usuário</label>
                    <input id="username" name="username" type="text" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-jf-blue focus:border-jf-blue focus:z-10 sm:text-sm"
                        placeholder="Usuário">
                </div>
                <div>
                    <label for="password" class="sr-only">Senha</label>
                    <input id="password" name="password" type="password" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-jf-blue focus:border-jf-blue focus:z-10 sm:text-sm"
                        placeholder="Senha">
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-jf-blue hover:bg-jf-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-jf-blue">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}